/* +++++++++++++++++++ COMMON STYLE +++++++++++++++++++*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.heart:hover {
    color: red;
}

.photo-one:hover {
    background-image: url(./img/1b.webp)
}

.photo-two:hover {
    background-image: url(./img/2b.webp)
}

.photo-three:hover {
    background-image: url(./img/3b.webp)
}

.photo-four:hover {
    background-image: url(./img/4b.webp)
}

.photo-five:hover {
    background-image: url(./img/5b.webp)
}

.photo-six:hover {
    background-image: url(./img/6b.webp)
}


/* +++++++++++++++++++ HEADER STYLE +++++++++++++++++++*/

header {
    background-color: #FF6900;
    /* display: flex; */
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1;
}

header a {
    text-decoration: none;
    color: #FFFFFF;
    padding: 0 0.5rem;
}

header img {
    height: 4rem;
    padding: 1rem;
    display: block;
}

/* +++++++++++++++++++ MAIN STYLE +++++++++++++++++++*/
main {
    padding: 6rem 0;
}

section {
    width: 80%;
    margin: 0 auto;
    /* display:flex */
    justify-content: space-around;
    flex-wrap: wrap;
}

.container-items {
    width: calc(85% / 3);
    height: 35rem;
    margin-top: 2rem;
    /* display: flex; */
    flex-direction: column;
}

.container-img {
    background-size: cover;
    background-position: center;
    height: 90%;
    margin-bottom: 0.5rem;
    position: relative;
}

.heart {
    color: black;
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
}

.testo-img {
    color: #FFFFFF;
    position: absolute;
    bottom: 1.5rem;
}

.green {
    background-color: green;
    padding: 0.2rem;
}

.red {
    background-color: red;
    padding: 0.2rem;
}

.container-name-price {
    height: 10%;
}

.sale-price {
    color: red;
    font-weight: bold;
}

.price {
    text-decoration: line-through;
}


/* +++++++++++++++++++ MAIN IMG STYLE +++++++++++++++++++*/
.photo-one {
    background-image: url(./img/1.webp);
}

.photo-two {
    background-image: url(./img/2.webp);
}

.photo-three {
    background-image: url(./img/3.webp);
}

.photo-four {
    background-image: url(./img/4.webp);
}

.photo-five {
    background-image: url(./img/5.webp);
}

.photo-six {
    background-image: url(./img/6.webp);
}

/* +++++++++++++++++++ FOOTER STYLE +++++++++++++++++++*/
footer {
    /* display: flex; */
    justify-content: space-around;
    border-bottom: 1px solid white;
    color: #FFFFFF;
    padding: 2rem 0;
    background-color: black;
}

.right-footer i {
    color: black;
    background-color: #FFFFFF;
    padding: 0.1rem;
    border-radius: 0.1rem;
}

.left-footer h4,
.left-footer span,
.right-footer h5,
.right-footer a {
    line-height: 2rem;
}

.left-footer span {
    margin-right: 0.5rem;
}

.left-footer a {
    text-decoration: none;
    color: #FFFFFF;
}